<ion-navbar *navbar>
  <button menuToggle *ngIf="!selectedItem">
    <ion-icon name="menu"></ion-icon>
  </button>
  <ion-title>Item Details</ion-title>
</ion-navbar>

<ion-content>
 <div *ngIf="speelplein" class="selection">
    <b>{{speelplein.praktischeInfo.regio}}</b>
    <ion-icon name="basketball"></ion-icon>
    <div>
    Adres:
    {{speelplein.praktischeInfo.maatschappelijkeZetel.adres.straat + ' ' + speelplein.praktischeInfo.maatschappelijkeZetel.adres.nummer}},
    {{speelplein.praktischeInfo.maatschappelijkeZetel.adres.postcode + ' ' + speelplein.praktischeInfo.maatschappelijkeZetel.adres.plaats}}
    </div>
  </div>
</ion-content>
